<!-- Header -->
<ion-header [translucent]="true">
  <ion-toolbar>

    <!-- Title -->
    <ion-title class="title"> 
      ToDo Manager
    </ion-title>

    <!-- Navigation -->
    <!-- Segment 1 -->
    <ion-segment [(ngModel)]="filterStatus">
      <ion-segment-button value="all">
        <ion-label>All</ion-label>
      </ion-segment-button>

      <!-- Segment 2 -->
      <ion-segment-button value="done">
        <ion-label>Done</ion-label>
      </ion-segment-button>

      <!-- Segment 3 -->
      <ion-segment-button value="undone">
        <ion-label>Undone</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<!-- Body/Content -->
<ion-content [fullscreen]="true">

  <!-- ToDos displayed as Ion-Cards -->
  <!-- *ngFor = for loop Angular // [ngClass] = apply CSS dynamically to HTML -->
  <ion-card *ngFor="let todo of filteredTodos" [ngClass]="{'done': todo.isDone, 'undone': !todo.isDone}"> 
    
    <!-- Title and subtitle of ToDo - displayed in Ion-Card -->
    <ion-card-header>
      <ion-card-title> {{todo.title}} </ion-card-title>
      <ion-card-subtitle> {{todo.subtitle}} </ion-card-subtitle>
    </ion-card-header>
    
    <!-- Content of ToDo - displayed in Ion-Card -->
    <ion-card-content>
      {{ todo.content }}
    </ion-card-content>

    <!-- Done and delete Buttons - displayed inside Ion-Card -->
    <ion-button color="light" *ngFor="let action of todo.actions" (click)="handleAction(action, todo)">
      {{ action }}
    </ion-button>
  
  </ion-card>

   <!-- Add new ToDo btn; alert for user input -->
  <div class="btn-new-todo">
    <ion-button color="light" class="addButton" (click)="presentAlert()">
      New ToDo
    </ion-button>
    <ion-alert
      trigger="present-alert"
      header="Enter new ToDo"
      [buttons]="alertButtons"
      [inputs]="alertInputs"
    ></ion-alert>
  </div>

</ion-content>