/* header */
.title {
  text-align: center;
  font-size: xx-large;
  color:black;
  margin: 1em;
}

/* btn for adding new ToDo */
.btn-new-todo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

/* mark as done btn */
.done {
  background-color: #d4edda;
  border-left: 5px solid #28a745;
}

/* mark as undone btn */
.undone {
  background-color: #f8d7da;
  border-left: 5px solid #dc3545;
}

/* main grid for displaying elements */
ion-grid {
  --ion-grid-width: 50%;
  --ion-grid-width-xs: 50%;
  --ion-grid-width-sm: 288px;
  --ion-grid-width-md: 384px;
  --ion-grid-width-lg: 480px;
  --ion-grid-width-xl: 570px;
}

/* ToDos displayed as card elements */
ion-card {
  width: 60%;
  margin: 2em auto;
}